############################################################
# IDE
############################################################
.idea/


############################################################
# Package managers
############################################################
node_modules/
npm-debug.log
